# ts_tracker specific (versions from yolov5 requirements)
PyYAML>=5.3.1
opencv-python
numpy>=1.18.5

# deep_sort
tensorflow==1.5     # doesn't work with 2.0
scikit-learn==0.22.2

# YOLOv5
torch>=1.7.0
torchvision>=0.8.1